[submodule "project-1/autograder"]
	path = project-1/autograder
	url = https://github.com/grantlemons/project-1-autograder.git
[submodule "project-2/autograder"]
	path = project-2/autograder
	url = https://github.com/grantlemons/project-2-autograder.git
